.popular {
  margin: 40px auto;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 15px 10px;
}

.popular__filters {
  margin-bottom: 15px;
}

.mat-form-field{
  margin-right: 8px;
}
